.idea/*
.gradle/*
*.iml
.gradle
/ccp/build
.DS_Store
/build
/app/debug
/app/dev
/app/prod
/app/release
/app/qa
/app/schemas
/captures
.externalNativeBuild
.cxx
!/app/release/wow_chat_app.apk
/app/build
/release
/local.properties
*.log
# Built application files
!wow_char_app.apk
*.aar
*.ap_
*.aab

/keystore.properties
*output-metadata*