*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/debug
/dev
/prod
!/release/wow_chat_app.apk
/release
/schemas
/captures
.externalNativeBuild
.cxx
*.log
# Built application files
!wow_chat_app.apk
*.aar
*.ap_
*.aab
*output-metadata*
