*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/debug
/dev
/prod
/release
/schemas
/captures
.externalNativeBuild
.cxx
*.log
# Built application files
*.apk
*.aar
*.ap_
*.aab
*output-metadata*
